SalesInformation/Service References/MyRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfProductMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" minOccurs="0" name="GetDealersResult" nillable="true" type="q2:ArrayOfDealerMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" minOccurs="0" name="objBill" nillable="true" type="q3:BillMaster" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" minOccurs="0" name="orders" nillable="true" type="q4:ArrayOfRowOrderMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" minOccurs="0" name="GetInvoicesResult" nillable="true" type="q5:ArrayOfBillMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>