SalesInformation/Service References/MyRef/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Sales_Service" />
      <xsd:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:8090/WCF_Sales-Service/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealers" />
  </wsdl:message>
  <wsdl:message name="IService_GetDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateInvoice" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProducts" message="tns:IService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProductsResponse" message="tns:IService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDealers" message="tns:IService_GetDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDealersResponse" message="tns:IService_GetDealers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GenerateInvoice" message="tns:IService_GenerateInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GenerateInvoiceResponse" message="tns:IService_GenerateInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInvoices" message="tns:IService_GetInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetInvoicesResponse" message="tns:IService_GetInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <soap:operation soapAction="http://tempuri.org/IService/GetDealers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateInvoice">
      <soap:operation soapAction="http://tempuri.org/IService/GenerateInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://tempuri.org/IService/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8090/WCF_Sales-Service/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>